@font-face {
  font-family: "iconfont-portal"; /* Project id 2979477 */
  src: url('iconfont.woff2?t=1642492219268') format('woff2'),
       url('iconfont.woff?t=1642492219268') format('woff'),
       url('iconfont.ttf?t=1642492219268') format('truetype');
}

.iconfont-portal {
  font-family: "iconfont-portal" !important;
  font-size: 22px;
  font-style: normal;
  -webkit-font-smoothing: antialiased!important;
  -moz-osx-font-smoothing: grayscale!important;
  
}

.icon-portaltiaoduzhongxin:before {
  content: "\e645";
}

.icon-portaldaolan:before {
  content: "\e644";
}

.icon-portalyunweizhongxin:before {
  content: "\e641";
}

.icon-portalshujupandian:before {
  content: "\e642";
}

.icon-portalzidongxuexi:before {
  content: "\e643";
}

.icon-portalliuchengzhongxin:before {
  content: "\e63f";
}

.icon-portalquanxianzhongxin:before {
  content: "\e640";
}

.icon-portalshujuyuanguanli:before {
  content: "\e63e";
}

.icon-portalquntiguanli:before {
  content: "\e62b";
}

.icon-portalquntiyingyong:before {
  content: "\e62c";
}

.icon-portalrenwuguanli:before {
  content: "\e62f";
}

.icon-portaltezhengshichang1:before {
  content: "\e630";
}

.icon-portalhuaxiangfenxi:before {
  content: "\e631";
}

.icon-portalbiaoqianshichang:before {
  content: "\e632";
}

.icon-portalyunyingguanli:before {
  content: "\e633";
}

.icon-portalgerenzhongxin:before {
  content: "\e634";
}

.icon-portalxitongguanli:before {
  content: "\e635";
}

.icon-portalxiangmuguanli:before {
  content: "\e636";
}

.icon-portalmoxingbushu:before {
  content: "\e637";
}

.icon-portalgailan:before {
  content: "\e638";
}

.icon-portalshujufuwu:before {
  content: "\e639";
}

.icon-portalshujukaifa:before {
  content: "\e63a";
}

.icon-portalmoxingxunlian1:before {
  content: "\e63b";
}

.icon-portalziyuanguanli:before {
  content: "\e63c";
}

.icon-portalshujujicheng:before {
  content: "\e63d";
}

.icon-portalshujujieru:before {
  content: "\e62a";
}

.icon-portalzhibiaoshichang:before {
  content: "\e629";
}

.icon-portalpingtaiguanli:before {
  content: "\e62e";
}

.icon-portalguanlizhongxin:before {
  content: "\e62d";
}

.icon-portalgongzuotai:before {
  content: "\e626";
}

.icon-portalAPIshichang:before {
  content: "\e627";
}

.icon-portalzichanyouhua1:before {
  content: "\e628";
}

.icon-portalshujutupu-copy:before {
  content: "\e625";
}

.icon-portalshujubiaozhun:before {
  content: "\e618";
}

.icon-portalshujuzhiliang:before {
  content: "\e61a";
}

.icon-portalanquanzhongxin:before {
  content: "\e61b";
}

.icon-portalzichanquanjing:before {
  content: "\e61c";
}

.icon-portalzhushuju:before {
  content: "\e620";
}

.icon-portalzichanjifei:before {
  content: "\e622";
}


