#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  width: 100%;
  height: 100%;
}

.wrapper{
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.2);
  padding-top: $header-height;
  .panel-default{
    .panel-body{
      min-height: calc(100vh - 280px);
      @include get-gradient-background(#EFEFEF, #F4F5F5, top);
      .main-container{
        width: 100%;
        max-width: 960px;
        margin: auto;
        .entry-list{
          display: inline-block;
          float: left;
          background-color: $white;
          width: 66%;
          .page-responsive{
            padding: 15px 0;
          }
        }
      }
    }
  }
}

::-webkit-scrollbar{width:6px;height:6px;cursor:pointer;}
::-webkit-scrollbar-track{background:none;}
::-webkit-scrollbar-thumb{border-radius:3px;background:#9EA8B4;}
::-webkit-scrollbar-track-piece{opacity:0;}
